---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="https://placekeanu.com/500/g" alt="Illustration of a notebook" width="330">
      <figcaption class="text-center">
        Keanu Reeves
      </figcaption>
    </figure>
    <p>Project created by <a href="https://github.com/pja6" target="_blank">Paul Aguilar</a>.</p>
    <p>This is my External API Data Project for CSCD 378 </p>
    <p>It is styled with Tailwind and DaisyUI and uses <a href="https://whoa.onrender.com/?ref=public_apis&utm_medium=website"> The Keanu Reeves Whoa API</a> and the <a href="https://placekeanu.com/?ref=public_apis&utm_medium=website"> PlaceKeanu</a> API </p>
    <p>By using the onclick javascript method, every time the button is clicked, a new woah is retrieved from the API database and used to update the contents of the page</p>
    <p>It includes: an audio clip played on a hidden player on click, the movie poster from the specific film the woah originated in, and an updated background for the nav bar to increase the amount of Keanu on the page</p>
    <p>This is the codepen used to develop the idea before publishing it through Astro:</p>
    <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="OPLPzaB" data-pen-title="KeanuAPI" data-user="pja6" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
      <span>See the Pen <a href="https://codepen.io/pja6/pen/OPLPzaB">
      KeanuAPI</a> by Paul (<a href="https://codepen.io/pja6">@pja6</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
